* {
	font-family: Arial, sans-serif;
}
th, td {
	padding: 0;
}
th h1 {
	text-align: left;
	vertical-align: top;
	height: 70px;
	font: bold 32pt Arial, sans-serif;
	margin-top: 0;
}
td h2 {
	margin: 0;
}
img {
	height: 50%;
}
col:nth-child(1) {
	width: 175px;
}
col:nth-child(2) {
	vertical-align: top;
	width: 275px;
}
/*
td:nth-child(1) {
	width: 175px;
}
td:nth-child(2) {
	text-align: left;
	width: 25%;
}
*/