/*****************************************************GENERAL SETTINGS******************************************************/
body {
    font: 1em/150% 'Final Frontier Old Style', sans-serif;
    color: #ed1c24;
    background-color: #f7f7f7;
}
a {
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
    }
h1 {
    font-size: 4em;
}
span {
    font-size: 2em;
}
li {
    display: inline;
    margin-left: 15px;
    font-size: 3em;
}

/********************************************************STRUCTURE**********************************************************/
#page-wrapper {
    width: 960px;
    margin: 20px auto;
}
    
    /*HEADER AREA*/
    #header-wrapper {
        height: 100px;
        margin-bottom: 10px;
    }
        #logo-container {
            background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/xcoders-logo-alternative.png');
            background-repeat: no-repeat;
            width: 305px;
            height: 90px;
            float: left;
            margin-top: 20px;
        }
            #logo-container:hover {
                -webkit-filter: grayscale(90%);
            }
            #index-link {
                display: block;
                width: 280px;
                height: 80px;
            }
        #navigation-container {
            width: 500px;
            float: right;
            margin-top: 50px;
        }
            .menu-buttons {
                display: inline-block;
                width: 110px;
                height: 55px;
                margin-left: 15px;
                background-repeat: no-repeat;
            }
            #nakov-page-button {
                background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/nakov-button.png');
            }
                #nakov-page-button:hover {
                    background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/nakov-button-underline.png');
                }
                #nakov-page-link {
                    display: block;
                    width: 110px;
                    height: 55px;
                }
            #petya-page-button {
                background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/petya-button.png');
            }
                #petya-page-button:hover {
                    background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/petya-button-underline.png');
                }
                #petya-page-link {
                    display: block;
                    width: 110px;
                    height: 55px;
                }
            #vlado-page-button {
                background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/vlado-button.png');
            }
                #vlado-page-button:hover {
                    background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/vlado-button-underline.png');
                }
                #vlado-page-link {
                    display: block;
                    width: 110px;
                    height: 55px;
                }
            #teo-page-button {
                background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/teo-button.png');
                width: 90px;
            }
                #teo-page-button:hover {
                    background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/teo-button-underline.png');
                }
                #teo-page-link {
                    display: block;
                    width: 110px;
                    height: 55px;
                }
    
    /*MAIN CONTENT AREA*/
    #content-wrapper {
        background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/index-background.png');
        background-repeat: no-repeat;
        height: 600px;
        margin-bottom: 10px;
        background-color: #f2d426;
    }
        #enter-site-button {
            display: inline-block;
            background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/enter-website-button.png');
            background-repeat: no-repeat;
            margin-left: 380px;
            margin-top: 200px;
            width: 210px;
            height: 46px;
        }
            #enter-site-button:hover {
                background-image: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/enter-website-button-hover.png');
            }
            #enter-site-button-link {
                display: block;
                width: 210px;
                height: 46px;
            }

    #character-content-wrapper {
        background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/character-background-frame.png');
        background-repeat: no-repeat;
        height: 600px;
        margin-bottom: 10px;
        background-color: #f2d426;
    }
            #left-container {
                display: inline-block;
                background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/char-image-container.png');
                background-repeat: no-repeat;
                width: 550px;
                height: 560px;
                float: left;
                margin-top: 20px;
                margin-left: 20px;
            }
            #right-container {
                display: inline-block;
                width: 350px;
                height: 560px;
                float: right;
                margin-top: 20px;
                margin-right: 20px;
            }
                .character-name-container {
                    display: inline-block;
                    width: 330px;
                    height: 50px;
                    margin-top: 5px;
                    margin-left: 16px;
                    margin-right: 5px;
                    
                }
                    #nakov-name-field {
                        background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/nakov-red-name-box.png');
                        background-repeat: no-repeat;
                    }
                    #petya-name-field {
                        background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/petya-red-name-box.png');
                        background-repeat: no-repeat;
                    }
                    #vlado-name-field {
                        background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/vlado-red-name-box.png');
                        background-repeat: no-repeat;
                    }
                    #teo-name-field {
                        background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/teo-red-name-box.png');
                        background-repeat: no-repeat;
                    }
                #characteristics-container {
                    background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/character-info-box.png');
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 330px;
                    height: 490px;
                    margin-top: 5px;
                    margin-left: 6px;
                    margin-right: 5px;
					padding: 10px;
					word-wrap: break-word;
					overflow-y: scroll;
                }
				#characteristics-container header {
					font-weight: bold;
					margin-bottom: 0px;
					padding-bottom: 0px;
					font-style: italic;
					color: #000000;
					font-size: ;
				}
				
				#characteristics-container p {
					margin-top: 0px;
					padding-left: 10px;
					font-style: italic;
				}

    #about-us-information-container {
        background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/about-us.png');
        background-repeat: no-repeat;
        height: 600px;
        margin-bottom: 10px;
        background-color: #f2d426;
    }
    
    /*FOOTER AREA*/ 
    #footer-wrapper {
        height: 80px;
        background-color: #ed1c24;
    }
        #about-us-button {
            background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/fin-fang-foom-button.png');
            background-repeat: no-repeat;
            display: inline-block;
            width: 240px;
            height: 40px;
            margin-left: 10px;
            margin-top: 10px;
        }
            #about-us-button:hover {
                background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/fin-fang-foom-button-underline.png');
            }
            #about-us-page-link {
                display: block;
                width: 240px;
                height: 40px;
            }
        #softuni-button {
            background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/softuni-button.png');
            background-repeat: no-repeat;
            display: inline-block;
            width: 90px;
            height: 40px;
            margin-top: 10px;
            margin-left: 10px;
        }
            #softuni-button:hover {
                background: url('https://raw.githubusercontent.com/aslv/SU-WF-TW/master/img/softuni-button-underline.png');
            }
            #softuni-page-link {
                display: block;
                width: 240px;
                height: 40px;
            }
