body {
    background-color: #f7f7f7;
}
div {
    display: block;
}
#header {
    background-color: #f7f7f7;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    
}
    #header-content {
        max-width: 1280px;
        width: 100%;
        margin: 0px auto;
        position: relative;
        background: #404040;
        color: #f7f7f7;
        text-shadow: none;
        font: normal 100%/1.5 "Arial", sans-serif;
        -webkit-font-smoothing: antialised;
    }
        #logo {
            float: left;
            width: 350px;
            height: 90px;
            text-shadow: none;
            margin-left: 20%;
            background-image: url(../images/x-coders.png);
            background-size: cover;
        }
            #logo:hover {
                -webkit-filter: grayscale(90%);
            }
            #homepage-link {
                display: block;
                width: 350px;
                height:90px;

            }
        #navigation {
            float: right;
            width: 800px;
            height: 90px;
            margin-right: 15%;
        }
            #nakov-page-button {
                background-image: url(../images/nakov-button.png);
                background-size: cover;
                display: inline-block;
                width: 105px;
                height: 60px;
                margin-left: 35%;
                margin-right: 20px;
                margin-top: 30px;
            }
                #nakov-page-button:hover {
                    background-image: url(../images/nakov-button-underline.png);
                    background-size: cover;
                    display: inline-block;
                    width: 105px;
                    height: 60px;
                }
            #petya-page-button {
                background-image: url(../images/petya-button.png);
                background-size: cover;
                display: inline-block;
                width: 105px;
                height: 60px;
                margin-right: 20px;
            }
                #petya-page-button:hover {
                    background-image: url(../images/petya-button-underline.png);
                    background-size: cover;
                    display: inline-block;
                    width: 105px;
                    height: 60px;
                }
            #vlado-page-button {
                background-image: url(../images/vlado-button.png);
                background-size: cover;
                display: inline-block;
                width: 105px;
                height: 60px;
                margin-right: 20px;
            }
                #vlado-page-button:hover {
                    background-image: url(../images/vlado-button-underline.png);
                    background-size: cover;
                    display: inline-block;
                    width: 105px;
                    height: 60px;
                }
            #teo-page-button {
                background-image: url(../images/teo-button.png);
                background-size: cover;
                display: inline-block;
                width: 105px;
                height: 60px;
            }
                #teo-page-button:hover {
                    background-image: url(../images/teo-button-underline.png);
                    background-size: cover;
                    display: inline-block;
                    width: 105px;
                    height: 60px;
                }
#content {
    background-image: url(../images/background-cyclop.PNG);
    background-repeat: no-repeat;
    width: 100%;
    height: 609px;
}
    #content-container {
        background-color: #f3d527;
        width: 420px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
        #greeting-text {
            display: inline-block;
            background-image: url(../images/red-background-text-top.png);
            background-repeat: no-repeat; 
            background-size: cover;
            width: 430px;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-left: -10px;
        }
            #enter-site-button {
                display: inline-block;
                background-image: url(../images/enter-website-button.png);
                background-repeat: no-repeat;
                width: 201px;
                height: 46px;
                margin-left: auto;
                margin-left: auto;
                margin-top: 230px;
                margin-left: 120px;
            }
                #enter-site-button:hover {
                    background-image: url(../images/enter-website-button-hover.png);
                }
#space-between-content-footer {
    background-color: #f7f7f7;
    width: 100%;
    height: 70px;
}
#footer {
    background-color: #ED1C24;
    width: 100%;
    height: 100px;
}
#footer-container {
    border: 2px dotted green;
    width: 70%;
    height: 152px;
    margin-left: auto;
    margin-right: auto;
}
